@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Napa";
    src: url("assets/fonts/GT-America-Napa-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
  }

  @font-face {
    font-family: "Napa";
    src: url("assets/fonts/GT-America-Napa-Bold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: fallback;
  }

  @font-face {
    font-family: "Napa";
    src: url("assets/fonts/GT-America-Napa-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: fallback;
  }
}

@layer components {
  .bunches-button {
    @apply block text-center text-lg font-semibold border-4 border-primary bg-white hover:bg-primary text-primary hover:text-white rounded-full px-4 py-1 transition-transform duration-100 hover:scale-105;
  }

  .with-icon {
    @apply flex flex-row items-center;
  }
}

html, body {
  font-family:  "Napa";
  font-feature-settings: 'ss07' on;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}