@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Napa";
    src: url("https://ik.imagekit.io/wrxztkausbq0/fonts/GT-America-Napa-Regular_L58xRiKfc.woff2?ik-sdk-version=javascript-1.4.3&updatedAt=1662693111609") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
  }

  @font-face {
    font-family: "Napa";
    src: url("https://ik.imagekit.io/wrxztkausbq0/fonts/GT-America-Napa-Bold_UxswTz9Jv.woff2?ik-sdk-version=javascript-1.4.3&updatedAt=1662693111637") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: fallback;
  }

  @font-face {
    font-family: "Napa";
    src: url("https://ik.imagekit.io/wrxztkausbq0/fonts/GT-America-Napa-Black_xPmc9lHhZ.woff2?ik-sdk-version=javascript-1.4.3&updatedAt=1662693111553") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: fallback;
  }
}

@layer components {
  .bunches-button {
    @apply block text-center text-lg font-semibold border-4 border-primary bg-white hover:bg-primary text-primary hover:text-white rounded-full px-4 py-1 transition-transform duration-100 hover:scale-105;
  }

  .with-icon {
    @apply flex flex-row items-center;
  }
}

html, body {
  font-family:  "Napa";
  font-feature-settings: 'ss07' on;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}